APP_PORT=8080

POSTGRES_DB=margomarket
POSTGRES_USER=margomarket
POSTGRES_PASSWORD=margomarket
POSTGRES_PORT=5432

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/margomarket
SPRING_DATASOURCE_USERNAME=margomarket
SPRING_DATASOURCE_PASSWORD=margomarket

CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:5173

JWT_SECRET=
JWT_EXPIRATION=3600000

MAIL_HOST=poczta.interia.pl
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_CONNECTION_TIMEOUT_MS=5000
MAIL_READ_TIMEOUT_MS=5000
MAIL_WRITE_TIMEOUT_MS=5000
REGISTRATION_CODE_EXPIRATION_MINUTES=10
REGISTRATION_RESEND_COOLDOWN_SECONDS=60
REGISTRATION_MAX_VERIFICATION_ATTEMPTS=5
REGISTRATION_CLEANUP_INTERVAL_MS=28800000
BLOCKED_EMAIL_DOMAINS=10minutemail.com,10minutesemail.com,guerrillamail.com,mailinator.com,tempmail.com,temp-mail.org,yopmail.com,dispostable.com,trashmail.com
